<div class="main-content" *ngIf="news.data.length">
  <ng-container *ngFor="let newsfeed of data">
    <div
      class="card newsfeed"
      *ngIf="filter(newsfeed) && checkNewsContent(newsfeed.content)"
    >
      <article class="row article">
        <figure class="col-md-4">
          <img
            src="{{ newsfeed.urlToImage }}"
            class="thumb-nail"
            alt="thumbnail"
          />
        </figure>
        <summary class="col-md-8">
          <h3>{{ newsfeed.title }}</h3>
          <small>{{ newsfeed.publishedAt }}</small>
          <br />
          <section class="news-text">
            <p #shortContent *ngIf="!readMore">
              {{ newsfeed.content | slice: 0:150 }}...
            </p>
            <p #fullContent *ngIf="readMore">
              {{ newsfeed.content }}
            </p>
          </section>
          <p>
            <button (click)="toggleShowMoreDisplay(newsfeed)">
              <span *ngIf="!readMore">Read More</span
              ><span *ngIf="readMore">Read Less</span>
            </button>
            <button (click)="redirectToNewsSource(newsfeed)">
              Read Compelete Article
            </button>
          </p>
        </summary>
      </article>
    </div>
  </ng-container>
</div>
