.main-content {
  width: 80%;
  margin: auto;
}
.card {
  /* min-height: 300px; */
}
.article {
  margin: 10px;
  padding: 0px;
  padding-bottom: 0px;
}
.newsfeed {
  margin: 20px;
}
.newsfeed:hover {
  box-shadow: 5px 10px 18px #888888;
}
.thumb-nail {
  width: 250px;
  height: auto;
  object-fit: cover;
}
.sub-title {
  font-size: 10px;
}
.news-text {
  font-size: 14px;
  letter-spacing: 1px;
}
